.vs/
Debug/
Release/
x64/
Win32/
build/
bin/
lib/
*.user
*.aps
*.VC.db
*.VC.opendb
*.sdf
*.suo
*.log
logs/

ChatServer/config.ini
GateServer/config.ini
ResourceServer/config.ini
StatusServer/config.ini
VarifyServer/config.json
